.los:hover{
    color: green;

}


a{
    text-decoration: none;
    cursor: pointer;
}
h1{
    color: rgb(255, 255, 255);
    text-align: center;
    font-family: arial black;
    font-size: 50px;
    text-decoration: solid;
}

h2{

 color: white;
 text-align: center;
 font-family: arial black;
 font-size: 50px;
    
}

button{
    display: flex;
    border: none;
    border-radius: 300px;
    flex-direction: column;
    font-family: arial black;
    background-color: coral;
    color: white;
    text-align: center;
    font-size: xx-large;
    transform: translateX(800px);
    width: 300px;
    height: 50px;

   

}

h3{
    font-family: arial black;
    font-size: 50px;
    color: rgb(0, 208, 255);
    text-align: center;
    
}


